<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">

    <link rel="stylesheet" href="/css/application.css">

  <title></title>
</head>
<body>
  <div class="container">
    <header>
      <h1>AMAM connect 4!!!</h1>
    </header>
    <div class="sidebar"> i'm a sidebar</div>

    <div id="board">
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/views.js"></script>
    <script src="/js/application.js"></script>
  </div>
</body>
</html>

