<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">

    <link rel="stylesheet" href="/css/application.css">

  <title></title>
</head>
<body>
  <div class="container">
    <header>
      <h1>AMAM Connect Four</h1>
      <h3>(Non-working Version LIVE at: http://murmuring-garden-7217.herokuapp.com/)</h3>
    </header>

    <div id="board">
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/views.js"></script>
    <script src="/js/application.js"></script>
  </div>
</body>
</html>
lasdljkasdlkjh
